body {
  margin: 0;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
.nav-image {
  width: 20px;
}
.container {
  width: 80%;
  margin-left: 200px;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.name {
  float: left;
  padding: 10px;
}
header div nav {
  float: right;
}
header div nav div {
  margin: 0;
  padding: 0px;
  list-style: none;
}
header div nav span {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
}
header div nav span {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
header div nav span:hover {
  color: gray;
}
header div nav div span button {
  background-color: rgba(0, 0, 255, 0.356);
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
nav div span button:hover {
  background-color: gray;
}
.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  padding-top: 20px;
}
.side-bar .openBtn {
  padding: 20px 10px ;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
  color: #000;
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.side-bar :hover {
  color: red;
}
.card {
  margin-left: 280px;
  padding: 20px;
  margin-top: 30px;
  
}

* {
  box-sizing: border-box;
}
.openBtn {
  display: inline;
  justify-content: center;
}
.openButton,
.openAllButton {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color:transparent;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  width: 150px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-button{
  border: none;
  background-color:transparent;
  padding: 20px 20px;
  cursor: pointer;
  position: static;
  display: inline;
}
.card-container {
  transition: 0.4s;
  height: 180px;
  width: 240px;
  background: #ffffff;
  text-align: left;
  font-size: 16px;
  float: left;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type="text"],
.formContainer input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type="text"]:focus,
.formContainer input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc000036;
}
.formContainer .btn:hover,
.openButton:hover,
.openAllButton:hover {
  opacity: 0.5;
}
.time{
  color: rgba(0, 0, 255, 0.322);
}
.signup{
  color:rgba(0, 0, 255, 0.623) ;
}
.side-bar-images{
  width: 30px;
  float: left;
}